body {
    background-color: rosybrown;
    color: rgb(104, 69, 53);
    font: normal 12pt Arial;
}

#dinput {
    position: absolute;
    margin-left: 2%;
    padding: 20px;
}

#dbutton {
    margin-left: 50%;
    padding: 30px;
    width: 200px;
    height: 50px;
}